body {
  margin: 0;
}

#grid {
  display: grid;
  height: 100vh;
  gap: 10px;

  grid-template-columns: 1fr 1fr 1fr 1fr;

  grid-template-areas:
    "one  one  one  one"
    "two  three three four"
    "two  five  five  six"
    "two  seven eight nine"
    "two  ten   ten  ten";
}

#grid div {
  background: #3b7c1f;
  color: white;
  font-size: 32px;
  padding: 20px;
}

/* Grid areas */
.one   { grid-area: one; }
.two   { grid-area: two; }
.three { grid-area: three; }
.four  { grid-area: four; }
.five  { grid-area: five; }
.six   { grid-area: six; }
.seven { grid-area: seven; }
.eight { grid-area: eight; }
.nine  { grid-area: nine; }
.ten   { grid-area: ten; }
