body {
  margin: 0;
}

#grid {
  display: grid;
  height: 100vh;
  gap: 10px;

  /* 4 column layout */
  grid-template-columns: repeat(4, 1fr);
}

#grid > div {
  background: #3b7c1f;
  color: white;
  font-size: 32px;
  padding: 20px;
}

/* 1: span 4 columns (full row) */
#grid > div:nth-child(1) {
  grid-column: span 4;
}

/* 2: span 4 rows (left big block) */
#grid > div:nth-child(2) {
  grid-row: span 4;
}

/* 4: span 2 columns */
#grid > div:nth-child(4) {
  grid-column: span 2;
}

/* 5: span 2 columns */
#grid > div:nth-child(5) {
  grid-column: span 2;
}


#grid > div:nth-child(10) {
  grid-column: span 3;
}
